.sidebar img{
  padding: 10px;
  width:200px;

}

.sidebar{
  width:20%;
  float:left;
  padding:68px;
  border:8px;
  margin:8px;
  background-color:#bfada5;
  color:white;
}
.sidebar h2{
  font-family: 'Permanent Marker', cursive;
}

.sidebar p{
  font-family: 'Fredoka One', cursive;
}

.row{
  text-align:center;
  padding:10px;
}
.row h1{
  font-family:'Fredoka One', cursive;
  color:#a8968f;
}
.row p{
  font-family:'Fredoka One', cursive;
  color:#ccb9b1;
}

body{
  background-color:#eae8e8;
}


.cover_row{
  text-align:center;
}
