.sidebar img{
  padding: 10px;
  width:200px;

}

.sidebar{
  width:20%;
  float:left;
  padding:68px;
  border:8px;
  margin:8px;
  background-color:#bfada5;
  color:white;
}
.sidebar h2{
  font-family: 'Permanent Marker', cursive;
}
.sidebar h3{
  font-family: 'Permanent Marker', cursive;
}
.sidebar ol{
  font-family: 'Fredoka One' ,cursive;
}

.sidebar p{
  font-family: 'Fredoka One', cursive;
}
.sidebar ul{
  font-family: 'Fredoka One', cursive;
}

.row{
  text-align:center;
  padding:10px;
}
.row h1{
  font-family:'Fredoka One', cursive;
  color:#a8968f;
}
.row p{
  font-family:'Fredoka One', cursive;
  color:#ccb9b1;
}

body{
  background-color:#eae8e8;
}


.cover_row{
  text-align:center;

}
.small_row{
  float:left;
  width:15%;
  padding:10px;
  font-family:'Fredoka One', cursive;
  color:#a8968f;
}

.projects_row h1{
  text-align:center;
  font-family:'Fredoka One', cursive;
  color:#ccb9b1;
}
.project li{
  padding:10px;
  list-style-type: none;

}
.project li h2{
  font-family:'Fredoka One', cursive;
  color:#a8968f;
  text-decoration:underline;
}

.project li p{
  font-family:'Fredoka One', cursive;
  color:#ccb9b1;
}
.project li a{
  font-family:'Fredoka One', cursive;
  color:#a8968f;
}
.project li a:link{
  text-decoration: none;
}
