.sidebar img{
  padding: 10px;
  width:200px;

}

.sidebar{
  width:20%;
  float:left;
  padding:40px;
  border:8px;
  margin:8px;
  background-color:#bfada5;
  color:white;
}
.sidebar h2{
  font-family: 'Permanent Marker', cursive;
}

.sidebar p{
  font-family: 'Fredoka One', cursive;
}
